p {
	padding-top: 150px;
	padding-left: 600px;
	font-size: 30px;
}

body {
	background-color: #e8ebf2;
}

.dice-inactive {
	display: inline-block;
	opacity: 0;
	padding-left: 50px;
}

.dice-active {
	display: inline-block;
	padding-left: 50px;
}
